body {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}


#myText {
  font-size: 3em;
  display: block;
  color: white;
}

#myBtn {
  font-size: 3em;
  padding: 5px 25px;
  border-radius: 5px;

}
